.annotation-create-form {
  float: left;
  position: absolute;
  border-left: 6px solid #99a7ee;
  padding: 0px 20px;
  font-weight: 400;
}

div#annoForm {
  background: rgba(204, 204, 204, 0.2);
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  height: 120px;
  width: 360px;
}
