.opinion-comment-section {
  background: rgba(204,204,204,.2);
  padding: 10px;
  margin: 20px 0px;
}

.opinion-comment-section textarea {
  font-size: 16px;
  float: left;
  width: 470px;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.opinion-comment-section button {
  margin-bottom: 10px;
  float: left;
}

.opinion-comment-section .comment-form {
  padding-bottom: 10px;
}

.full-mode textarea {
  height: 80px;
  width: 530px;
}

.opinion-comment-section .comment-index {
  border-top: 1px solid #99a7ee;
}

.comment-index .comment-item {
  padding: 10px 0px;
  border-bottom: 1px solid #99a7ee;
}

.comment-item header {
  margin-bottom: 10px;
}

.comment-item h4 {
  float: left;
  font-weight: 700;
}

.comment-item header > span {
  float: right;
  font-size: 12px;
  color: #aaa;
}

.comment-form .user-icon {
  margin: 12px 5px;
}

.full-mode.comment-form .user-icon {
  display: none;
}
