.top-header {
  background-color: #ffff64;
  position: relative;
}

.header-logo {
  color: #ffff64;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  text-shadow: -3px 3px 0px black;
  padding: 6px 10px 10px 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  vertical-align: middle;
}

.header-user-links {
  position: absolute;
  right: 0;
  top: 0
}

.header-user-links li {
  float: left;
  padding: 14px 10px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500px;
}

.header-nav {
  background-color: #000;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.header-nav li {
  display: inline-block;
  font-size: 12px;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 300;
}
