.top-header {
  background-color: #ffff64;
  position: relative;
}

.header-logo {
  color: #ffff64;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  text-shadow: -3px 3px 0px black;
  padding: 6px 10px 10px 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  vertical-align: middle;
}

.header-user-links {
  position: absolute;
  right: 0;
  top: 0
}

.header-user-links li {
  float: left;
  height: 40px;
}

.header-user-name {
  padding: 14px 10px 13px 10px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  float:left;
}

.header-user-links a {
  padding: 14px 10px 8px 10px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 5px solid #ffff64;
  float:left;
  -webkit-transition: .2s border-bottom;
  transition: .2s border-bottom;
}

.header-user-links a:hover {
  border-bottom: 5px solid #ff0fab;
}

.header-nav {
  background-color: #000;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.header-nav li {
  display: inline-block;
  font-size: 12px;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.header-nav li:hover {
  color: #99a7ee;
}

.header-user-links .icon-list-item {
  padding: 0;
}

.user-icon {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 7px;
  float:left;
}

.user-icon.large img {
  width: 24px;
  height: 24px;
}

.user-icon.small img {
  width: 16px;
  height: 16px;
}

.user-icon.small {
  display: inline;
  margin: 0px 10px 0px 0px;
}
