.landing-page {
  height: 100vh;
  width:100%;
  position: relative;
  background-color: #ffff64;
  background-image: image_url("scales.png");
  background-size: 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 90% 90%;
}

.landing-page .landing-page-greeting {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  font-size: 48px;
  font-weight: 700;
  white-space: pre-wrap;
  text-align: center;
}

.search-container {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.search-container input {
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  width: 100%;
}

.search-result-list {
  max-height: 250px;
}

.search-result-list a, .no-results {
  padding: 10px;
  background: #fff;
  width: 100%;
  display: block;
  border-top: 1px solid #aaa;
  font-size: 18px;
}

.search-result-case {
  font-style: italic;
}

.search-result-name {
  font-size: 18px;
}

.search-result-list span {
  padding-right: 5px
}
