.opinions-index {
  width: 900px;
  margin: 0 auto;
  display: block;
}

.opinions-index h3 {
  font-size: 12px;
  padding: 15px 0px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
}
