span.modal-close {
    position: fixed;
    cursor: pointer;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 36px;
}

.ReactModal__Overlay h2 {
    color: #99a7ee;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2px solid #99a7ee;
    margin-bottom: 10px;
}

.ReactModal__Overlay input {
    margin: 5px 0px 10px 0px;
    border: 2px solid #ccc;
    width: 396px;
    font-size: 16px;
    padding: 5px;
    background: #fff;
}

.ReactModal__Overlay input[type="submit"] {
  width: auto;
  background: transparent;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.ReactModal__Overlay a {
  color: #aaa;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0px;
  cursor: pointer;
}

.modal-session-form {
  position: relative;
}

.username-error, .password-error {
  position: absolute;
  font-size: 14px;
  padding: 5px;
	background: #fff;
	border: 2px solid red;
  transform: translateY(-5px);
  width: 170px;
  right: 10px;
}

.username-error:after, .username-error:before, .password-error:after, .password-error:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.username-error:after, .password-error:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}

.username-error:before, .password-error:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: red;
	border-width: 7px;
	margin-left: -7px;
}

.login-error {
  position: absolute;
  font-size: 14px;
  padding: 5px;
	background: #fff;
	border: 2px solid red;
  white-space: nowrap;
  left: 100px;
  bottom: 30px;
}
