.opinion-create-page {
  background-color: #000;
}

.opinion-create-form {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
}

.opinion-create-form-header {
  border-bottom: 1px solid #565656;
  padding: 20px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.opinion-create-form-header h2 {
  font-size: 36px;
  font-weight: 600;

}

.opinion-create-form-header div {
  vertical-align: bottom;
  text-align: right;
}

.opinion-create-form-fields {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.opinion-create-form-fields label {
  width: 475px;
  height: 60px;
  font-size: 12px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 10px;
  position: relative;
}

.opinion-create-form-fields label input {
  margin-top: 5px;
  width: 465px;
  background-color: #eee;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
}

.opinion-create-form-fields .opinion-create-form-dropdown {
  margin-top: 5px;
  width: 475px;
  font-size: 16px;
  border-radius: 0;
  padding: 10px 5px;
}

.opinion-create-form-fields label input[type="date"] {
  padding-top: 0;
}

.opinion-create-form-fields .opinion-create-form-editor {
  width: 980px;
  height: 500px;
  padding-bottom: 20px;
}

#editor {
  overflow: auto;
  height: 450px;
  border-radius: 3px;
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
  text-transform: none;
  background-color: #fff;
}

.opinion-create-form-submit {
  display: block;
  border-top: 1px solid #565656;
  padding: 20px 0px;
}

.opinion-create-form-submit button {
  border-radius: 2px;
  font: inherit;
  border: 1px solid #565656;
  background: #353535;
  color: #ccc;
  padding: 5px 10px;
  cursor: pointer
}

.opinion-create-form-submit button:hover {
  background: #4f4f4f;
}

.create-form-errors {
  text-transform: none;
  position: absolute;
  font-size: 14px;
  padding: 5px;
	background: #fff;
	border: 2px solid red;
  transform: translateY(-5px);
  width: 170px;
  right: 10px;
}

.create-form-errors:after, .create-form-errors:before  {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.create-form-errors:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}

.create-form-errors:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: red;
	border-width: 7px;
	margin-left: -7px;
}

// .ql-clipboard {
//   line-height: 0;
// }
