.opinion-detail-header {
  height: 280px;
  background-color: #aaa;
  background-size: cover;
  background-position: center;
  position: relative;
}

.opinion-detail-header-info {
  width: 1000px;
  margin: 0 auto;
  padding: 36px 0px 24px 0px;
  position: relative;
  z-index: 1
}

.opinion-detail-header-info h2 {
  color: #ffff64;
  width: 550px;
  font-size: 48px;
  font-weight: 600;
}

.opinion-detail-header-info h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
}

.opinion-detail-header-info h4 {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 2px;
}

.opinion-detail-main {
  max-width: 960px;
  min-height: 250px;
  margin: 0 auto;
  display: flex;

  padding: 20px;
  background-color: #fff;
}

.opinion-detail-main-body {
  width: 540px;
  font-size: 20px;
  line-height: 1.6;
}

.opinion-detail-main-panel {
  width: 400px;
  padding-left: 20px;
  position: relative;
  display: flex
}

.opinion-detail-main-panel-img {
  position: absolute;
  top: -280px;
  max-width: 339px;
  max-height: 339px;
  border: 1px solid #fff;
  overflow: hidden;
}

.opinion-detail-main-panel-img img {
  max-width: 100%;
  max-height: 100%;
}

.opinion-detail-main-body.edit-mode {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: rgba(204, 204, 204, 0.2);
  margin-bottom: 20px;
}

.opinion-detail-main button {
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #000;
  color: #000;
  padding: 4px 8px;
  cursor: pointer;
  background: #fff;
  margin-right: 10px;

}
