body, h1, p, h2, h3, h4, h5, li, ul, ol, a, div, input, span, textarea {
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  background: transparent;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: #eee;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.gradient:before {
  content: "";
	position: absolute;
  height: 100%;
  width: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom,rgba(0,0,0,.2) 30%,#000 100%);
  z-index: 0;
}

a {
  cursor: pointer;
}

*:focus {
  outline: none;
}
