body, h1, p, h2, h3, h4, li, ul, ol, a, div, input, span {
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  background: transparent;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group {
  content: "";
  clear: both;
  display: block;
}

a {
  cursor: pointer;
}
