.suggestions-container {
  margin: 20px 0px;
  background-color: rgba(204,204,204,.2);
  padding: 10px;
}

.suggestion-form {
  margin-bottom: 10px;
}

.suggestions-container  textarea  {
  display: block;
  background: #fff;
  border: 1px solid #aaa;
  width: 328px;
  padding: 5px;
}

.suggestion-form-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.suggestion-form-radio-option {
  width: 170px;
  font-size: 16px;
}

.suggestion-form-radio-option input {
  width: 20px;
  height: 20px;
  margin: 5px;
  float: left;
}

.suggestion-form-radio-option label {
  padding: 5px 0px;
  float: left;
}

.suggestion-form > button {
  margin-top: 10px;
  background: rgba(204,204,204,.2)
}

.suggestion-index {
  border-top: 1px solid #99a7ee;
}

.suggestion-item {
  padding: 5px 0px 10px 0px;
  font-size: 16px;
  border-bottom: 1px solid #99a7ee;
}

.suggestion-header {
  display: block;
}

.suggestion-header-left {
  float: left;
  width: 250px;
}

.suggestion-header h4 {
  font-weight: 700;
}

.suggestion-header h5, .suggestion-header > span {
  font-size: 14px;
}

.suggestion-header > span {
  float: right;
}

.suggestion-item p {
  padding: 10px 0px;
}

.suggestion-user-links span {
  font-size: 12px;
  color: #99a7ee;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.suggestion-item button {
  margin-top: 10px;
}

button.suggestion-sign-in {
  margin-bottom: 10px;
  background: transparent;
}
